* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #283044;
  color: #333; }

#root {
  max-width: 600px;
  min-width: 200px;
  margin: 5rem auto;
  align-items: center; }

#quote-box {
  background: #ebf5ee;
  border: 2px #8b786d solid;
  border-radius: 4px;
  padding: 0.5em 1em;
  margin: 0 2rem;
  box-shadow: 1px 1px 4px 1px #8b786d; }
  #quote-box #title {
    text-align: center;
    border-bottom: 2px solid #777;
    padding-bottom: 0.3em;
    font-weight: 400; }
  #quote-box .quote {
    padding: 1rem 3rem 2.7rem 3rem;
    border-bottom: 2px solid #777; }
    #quote-box .quote .quotation-mark {
      font-family: 'Courier New', Courier, monospace;
      font-size: 1.4rem;
      white-space: pre; }
    #quote-box .quote .begin-quotation-mark {
      margin-left: -2.6rem;
      padding-right: 1rem; }
    #quote-box .quote .end-quotation-mark {
      padding-left: 1rem; }
    #quote-box .quote #text {
      font-size: 2em;
      line-height: 2.3rem;
      text-shadow: 1px 1px 2px #c3cadb;
      font-family: 'Dancing Script', 'Times New Roman', serif; }
    #quote-box .quote #author {
      float: right;
      font-size: 1.3em;
      font-weight: 200;
      font-style: italic; }
  #quote-box .bottom-container {
    padding: 1rem 2rem 0.2rem 2rem;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    #quote-box .bottom-container .share-links {
      margin: 0.5rem; }
      #quote-box .bottom-container .share-links a {
        margin: 0 0.2rem;
        background: #283044;
        color: #ebf5ee;
        border: 2px #8b786d solid;
        border-radius: 6px;
        padding: 1.1rem 0.6rem 0.5rem 0.8rem;
        vertical-align: center; }
        #quote-box .bottom-container .share-links a:hover {
          background: #ebf5ee;
          color: #283044;
          transition: all 0.2s ease-out; }
  #quote-box .btn {
    background: #283044;
    color: #ebf5ee;
    border: 2px #8b786d solid;
    border-radius: 4px;
    padding: 0.7rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: 400; }
    #quote-box .btn:hover {
      background: #ebf5ee;
      color: #283044;
      transition: all 0.3s ease-in-out;
      font-weight: 600; }

.footer {
  color: #78a1bb;
  text-align: center;
  font-weight: 400;
  font-size: 0.7rem;
  margin-top: 1em; }

@media screen and (max-width: 576px) {
  #quote-box .bottom-container {
    padding: 1rem 0.2rem; } }

@media screen and (max-width: 476px) {
  #quote-box .quote #text {
    font-size: 1.3em; }
  #quote-box .quote #author {
    font-size: 1.1em; }
  #quote-box .quote .quotation-mark {
    font-size: 0.8em; }
  #quote-box .bottom-container {
    padding: 1rem 0.2rem; }
    #quote-box .bottom-container .share-links {
      margin-top: 1em;
      font-size: 0.7em; }
    #quote-box .bottom-container .btn {
      font-size: 0.8em; } }

@media screen and (max-width: 420px) {
  #quote-box .quote #author {
    font-size: 0.9rem; }
  #quote-box .quote .begin-quotation-mark {
    margin-right: 0.5rem; } }

@media screen and (max-width: 360px) {
  #quote-box .bottom-container {
    padding: 0;
    margin: 0.5rem;
    flex-direction: column; }
    #quote-box .bottom-container .share-links {
      flex-basis: 100%;
      margin: 0.5rem 0.4rem 0;
      text-align: right;
      order: 2; }
      #quote-box .bottom-container .share-links a {
        border: none;
        padding: 0;
        background: #ebf5ee;
        color: #283044; }
        #quote-box .bottom-container .share-links a :hover {
          transform: scale(1.2);
          color: #3b4764; }
    #quote-box .bottom-container .generate {
      flex-basis: 100%;
      order: 1; }
      #quote-box .bottom-container .generate .btn {
        width: 100%; } }
