$primary_color: #283044;
$secondary_color: #ebf5ee;
$border_color: #8b786d;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  // background: #306f5a;
  background: $primary_color;
  color: #333;
}

#root {
  max-width: 600px;
  min-width: 200px;
  margin: 5rem auto;
  align-items: center;
}

#quote-box {
  background: $secondary_color;
  border: 2px $border_color solid;
  border-radius: 4px;
  padding: 0.5em 1em;
  // margin: 0 2rem;
  margin: 0 2rem;

  box-shadow: 1px 1px 10px 1px #8b786d;

  #title {
    text-align: center;
    border-bottom: 2px solid #777;
    padding-bottom: 0.3em;
    font-weight: 400;
  }

  .quote {
    padding: 1rem 3rem 2.7rem 3rem;
    border-bottom: 2px solid #777;

    .quotation-mark {
      font-family: 'Courier New', Courier, monospace;
      font-size: 1.7rem;
      white-space: pre;
    }
    .begin-quotation-mark {
      margin-left: -2.6rem;
      padding-right: 1rem;
    }
    .end-quotation-mark {
      padding-left: 1rem;
    }
    #text {
      font-size: 2em;
      line-height: 2.3rem;
      text-shadow: 1px 1px 2px lighten($primary_color, 60);
    }
    #author {
      float: right;
      font-size: 1.3em;
      font-weight: 200;
      font-style: italic;
    }
  }

  .bottom-container {
    padding: 1rem 5rem 0.2rem 5rem;
    max-width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    .share-links {
      margin-top: 0.5rem;
      a {
        background: $primary_color;
        color: $secondary_color;
        border: 2px $border_color solid;
        border-radius: 6px;

        padding: 1.1rem 0.6rem 0.5rem 0.8rem;
        vertical-align: center;

        &:hover {
          background: #ebf5ee;
          color: $primary_color;

          transition: all 0.2s ease-out;
        }
      }
    }
  }

  .btn {
    background: $primary_color;
    color: $secondary_color;
    border: 2px $border_color solid;
    border-radius: 4px;
    padding: 0.7rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;

    font-weight: 400;
    &:hover {
      background: #ebf5ee;
      color: $primary_color;

      transition: all 0.3s ease-in-out;
      font-weight: 600;
    }
  }
}

.footer {
  color: #78a1bb;
  text-align: center;
  font-weight: 400;
  font-size: 0.7rem;
  margin-top: 1em;
}

@media screen and (max-width: 476px) {
  #quote-box {
    .quote {
      #text {
        font-size: 1.3em;
      }
      #author {
        font-size: 1.1em;
      }
      .quotation-mark {
        font-size: 0.8em;
      }
    }
    .bottom-container {
      .share-links {
        margin-top: 1em;
        font-size: 0.7em;
      }
      .btn {
        font-size: 0.8em;
      }
    }
  }
}

@media screen and (max-width: 420px) {
  #quote-box {
    .quote {
      .begin-quotation-mark {
        margin-right: 0.5rem;
      }
    }
    .bottom-container {
      padding: 1em;
    }
  }
}
